@import "./../../global.scss";
.single-product {
  @include flex(normal);
  gap: 7rem;
  .img {
    flex: 1 1 40rem;
    img {
      width: 100%;
      height: 60rem;
    }
  }

  .box {
    flex: 1 1 40rem;

    .title {
      font-size: 3rem;
      font-weight: 100;
    }

    .desc {
      font-size: 1.7rem;
      line-height: 3rem;
      margin: 1.5rem 0;
    }

    .price {
      font-size: 3rem;
      margin: 2rem 0;
    }

    .color-size {
      display: flex;
      align-items: center;
      gap: 10rem;
      margin-top: 3rem;
      margin-bottom: 1.5rem;

      .colors {
        display: flex;
        align-items: center;

        span {
          font-size: 2.5rem;
          margin-right: 0.5rem;
        }
        .color {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin-right: 1rem;
          cursor: pointer;
        }
      }

      .size {
        span {
          font-size: 2.5rem;
        }
        select {
          margin-left: 0.5rem;
          font-size: 1.7rem;
          border: 0.1rem solid gray;
          padding: 0.3rem 0.5rem;
        }
      }
    }
    .add-cart-container {
      display: flex;
      align-items: center;
      gap: 14rem;
      margin-top: 4rem;

      .add-container {
        display: flex;
        align-items: center;
        .icon {
          font-size: 2.5rem;
          font-weight: bold;
          cursor: pointer;
        }

        span {
          font-size: 2rem;
          margin: 0 1.5rem;
          border: 0.1rem solid teal;
          padding: 0.3rem 1rem;
        }
      }

      .cart-container {
        button {
          font-size: 2rem;
          border: 0.2rem solid teal;
          padding: 0.8rem 1.5rem;
          background: white;
          cursor: pointer;

          &:hover {
            background: #fcf5f5;
          }
        }
      }
    }
  }
}
