.registar {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  .registar-container {
    width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    background: white;

    h3 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    form {
      .input-group {
        display: flex;
        align-items: center;
        gap: 2rem;
        input {
          width: 100%;
          border: 0.1rem solid gray;
          padding: 1rem 1.7rem;
          margin: 1rem 0;
          text-transform: none;
        }
      }
      .btn {
        font-size: 1.7rem;
        background: teal;
        padding: 1.2rem 2rem;
        margin-top: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
